@import "./variables";
@import "./mixins";

.home-page {
  background: $background-dark;
  color: $text-primary;
  min-height: 100vh;
}

.home-content {
  padding: $spacing-md $spacing-3xl;
}

@media (max-width: $breakpoint-md) {
  .home-content {
    padding: $spacing-md;
  }
}
