@use './variables' as *;
@use './mixins' as *;

.person-card {
  width: 200px;

  .person-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: $border-radius-md;
    object-fit: cover;
  }

  .person-name {
    margin: $spacing-sm 0;
    font-size: $font-sm;
    color: $text-primary;
  }
}
